<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="envdte" version="17.14.40260" targetFramework="net471" />
  <package id="Microsoft.VisualStudio.Imaging.Interop.14.0.DesignTime" version="17.14.40254" targetFramework="net471" />
  <package id="Microsoft.VisualStudio.Interop" version="17.14.40260" targetFramework="net471" />
</packages>